@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.main-section {
  width: 72%;
  max-width: 1140px;
  margin: 0 auto;
}

.common-heading {
  color: #151414;
  font-size: 40px;
  font-weight: 700;
}

/* header section */

header {
  background-image: url("../images/banner/banner3.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 965px;
}

.header-description-container {
  text-align: right;
  max-width: 43%;
  margin-left: auto;
  padding-top: 216px;
}

.header-description-container h1 {
  color: #fff;
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}

.header-description-container p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 32px;
}

.header-description-container .btn-primary {
  border-radius: 5px;
  background: #fff;
  color: #005fac;
  font-size: 20px;
  font-weight: 600;
  padding: 25px;
  border: none;
}

/* failure section */

.failure-section-container {
  margin-top: 120px;
  display: flex;
  align-items: center;
  gap: 90px;
}

.failure-section-container .text-container .failure-para,
.failure-section-container .text-container .point-container {
  color: #444343;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.failure-section-container .text-container .common-heading,
.failure-section-container .text-container .failure-para {
  margin-bottom: 20px;
}

.failure-section-container .text-container .point-container img {
  width: 25px;
  margin-bottom: 20px;
}

.failure-section-container .text-container .point-container p {
  display: inline;
}

.failure-section-container .text-container .point-description {
  display: flex;
  gap: 10px;
}
